<section id="faq" class="container">

  <p class="text-3xl sm:text-4xl md:text-6xl text-center pb-16">Frequently asked questions</p>


  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl sm:text-2xl">
          How often and when do you deliver?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-lg sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dignissimos ea
        ipsam iure labore nihil nisi
        repellat sit tenetur!</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl sm:text-2xl">
          How often and when do you deliver?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-lg sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dignissimos ea
        ipsam iure labore nihil nisi
        repellat sit tenetur!</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl sm:text-2xl">
          How often and when do you deliver?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-lg sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dignissimos ea
        ipsam iure labore nihil nisi
        repellat sit tenetur!</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl sm:text-2xl">
          How often and when do you deliver?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-lg sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dignissimos ea
        ipsam iure labore nihil nisi
        repellat sit tenetur!</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl sm:text-2xl">
          How often and when do you deliver?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-lg sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dignissimos ea
        ipsam iure labore nihil nisi
        repellat sit tenetur!</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl sm:text-2xl">
          How often and when do you deliver?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-lg sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dignissimos ea
        ipsam iure labore nihil nisi
        repellat sit tenetur!</p>
    </mat-expansion-panel>
  </mat-accordion>

</section>
