<section id="faq" class="container">

  <h2 class="text-center pb-16">
    <span class="text-3xl sm:text-4xl md:text-6xl">
    Frequently asked questions
  </span>
  </h2>
  <mat-accordion multi>
    <mat-expansion-panel class="py-4">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl sm:text-2xl">
          How often and when do you deliver?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-lg sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dignissimos ea
        ipsam iure labore nihil nisi
        repellat sit tenetur!</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="py-4">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl sm:text-2xl">
          When do I pay for my meals?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-lg sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dignissimos ea
        ipsam iure labore nihil nisi
        repellat sit tenetur!</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="py-4">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl sm:text-2xl">
          When do I receive the meals?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-lg sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dignissimos ea
        ipsam iure labore nihil nisi
        repellat sit tenetur!</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="py-4">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl sm:text-2xl">
          What if I want to cancel?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-lg sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dignissimos ea
        ipsam iure labore nihil nisi
        repellat sit tenetur!</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="py-4">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl sm:text-2xl">
          What if I'm not home when you arrive?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-lg sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dignissimos ea
        ipsam iure labore nihil nisi
        repellat sit tenetur!</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="py-4">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-xl sm:text-2xl">
          What if I want to remove a ingredient from a meal?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-lg sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dignissimos ea
        ipsam iure labore nihil nisi
        repellat sit tenetur!</p>
    </mat-expansion-panel>
  </mat-accordion>

</section>
