<section class="container">

  <p class="text-6xl text-center">Meal Options</p>

  <mat-grid-list cols="3" rowHeight="320px" gutterSize="16px">
    <mat-grid-tile
      style="background-image: url({{ breakfast }});">
      <p class="text-white">Breakfast</p>
    </mat-grid-tile>
    <mat-grid-tile
      style="background-image: url({{ lunch }});">
      <p class="text-white">Lunch</p>
    </mat-grid-tile>
    <mat-grid-tile
      style="background-image: url({{ treats }});">
      <p class="text-white">Treats</p>
    </mat-grid-tile>
  </mat-grid-list>

</section>
