<section class="flex flex-col">
  <div class="bg-black max-sm:hidden">
    <div class="color-white flex flex-row justify-between items-center font-bold sm:mx-[10vw] my-1">
      <span>
        <a>
          <mat-icon class="align-middle">phone_outlined</mat-icon>
          (55) 999 666 333 | eat@healthy.com
        </a>
      </span>
      <span>
        <a class="px-6">Login</a>
        <span>|</span>
        <a class="px-6">Sign Up</a>
      </span>
    </div>
  </div>

  <div class="bg-white flex flex-row justify-between sm:mx-[10vw] mx-[5vw] my-1">
    <div>
      <img class="object-contain max-h-[50px] max-w-[90px]"
           src="../../../assets/logo/rsz_cropped-main-site-logo-asset-70x503x.png" alt="logo">
    </div>

    <div class=" flex flex-row items-center max-sm:hidden">
      <a mat-button [matMenuTriggerFor]="menuOptions">MENU
        <mat-icon>keyboard_arrow_down</mat-icon>
      </a>
      <mat-menu #menuOptions="matMenu">
        <button mat-menu-item>All Meals</button>
        <button mat-menu-item>Custom</button>
      </mat-menu>
      <a mat-button href="" class="px-6">ABOUT</a>
      <a mat-button href="" class="px-6">FAQ</a>
      <a mat-button href="" class="px-6">CONTACT US</a>
      <a mat-button [matMenuTriggerFor]="cart">
        <mat-icon [matBadge]="itemsQuantity"
                  [matBadgeHidden]="!itemsQuantity"
                  matBadgeColor="warn"
        >shopping_basket
        </mat-icon>
      </a>
      <mat-menu #cart="matMenu">
        <div class="p-4">
          <p>In your cart: {{itemsQuantity}} items</p>
          <mat-divider></mat-divider>
          <ng-container *ngFor="let item of cartItems.items">
            <div
              class="flex max-md:flex-col max-md:w-[90vw] justify-between max-w-[700px] p-4 my-2 mx-auto border border-amber-100 bg-gray-50">
              <div class="p-2">
                <img class="w-[80px] h-[50px]" src="{{item.image}}" alt="image">
              </div>
              <div>
                <p class="text-lg"> {{item.title}} </p>
                <p> {{item.description}} </p>
              </div>
              <div class="flex w-[150px] justify-between items-center">
                <p class="h-[20px] p-1.5">{{item.quantity}} x {{item.price | currency}} </p>
                <button class="mt-1.5" (click)="onRemoveItem(item)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
          <mat-divider></mat-divider>
          <button mat-flat-button class="bg-green-700" routerLink="cart">
            <span class="text-white">VIEW CART</span>
          </button>
        </div>
      </mat-menu>
    </div>
    <button class="sm:hidden" (click)="toggleSideNav()" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>


  <mat-menu #menu="matMenu">
    <div class="flex flex-col">
      <button mat-button [matMenuTriggerFor]="menuOptions" (click)="$event.stopPropagation()">
        MENU
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menuOptions="matMenu">
        <button mat-menu-item>All Meals</button>
        <button mat-menu-item>Custom</button>
      </mat-menu>
      <button mat-button class="px-6">ABOUT</button>
      <button mat-button class="px-6">FAQ</button>
      <button mat-button class="px-6">CONTACT US</button>
      <button mat-button>
        <mat-icon [matBadge]="0" matBadgeColor="warn">shopping_basket</mat-icon>
      </button>
    </div>
  </mat-menu>

</section>
