<section class="container">
  <p class="text-6xl text-center">Menu</p>
  <div class="pt-20">
    <mat-expansion-panel *ngIf="foods" class="max-w-md">
      <mat-expansion-panel-header>
        <mat-panel-title>Choose Category</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let food of foods" [value]="food">
          <button mat-flat-button (click)="onShowCategory(food)">{{food}}</button>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </div>
</section>
