<section class="container">

  <p class="text-6xl text-center">Meal Options</p>

  <div class="pt-10">
    <mat-grid-list [cols]="this.deviceType == 'desktop' ? 3 : 1" rowHeight="320px" gutterSize="16px">
      <a class="cursor-pointer" (click)="onShowCategory('Breakfast')">
        <mat-grid-tile
          class="relative group">
          <div class="absolute inset-0 bg-black opacity-40"></div>
          <img
            class="w-full h-full object-cover transition-transform duration-300
                   transform hover:scale-110 hover:translate-y-1 hover:rotate-3"
            [src]="breakfast" alt=""
          >
          <p class="absolute bottom-50 left-50 p-4 text-white text-4xl font-semibold group-hover:text-green-700">
            Breakfast
          </p>
        </mat-grid-tile>
      </a>
      <a class="cursor-pointer" (click)="onShowCategory('Meal')">
        <mat-grid-tile
          class="relative group">
          <div class="absolute inset-0 bg-black opacity-40"></div>
          <img class="w-full h-full object-cover transition-transform duration-300
                   transform hover:scale-110 hover:translate-y-1 hover:rotate-3"
               [src]="lunch" alt=""
          >
          <p class="absolute bottom-50 left-50 p-4 text-white text-4xl font-semibold group-hover:text-green-700">
            Meals
          </p>
        </mat-grid-tile>
      </a>
      <a class="cursor-pointer" (click)="onShowCategory('Treat')">
        <mat-grid-tile
          class="relative group">
          <div class="absolute inset-0 bg-black opacity-40"></div>
          <img class="w-full h-full object-cover transition-transform duration-300
                   transform hover:scale-110 hover:translate-y-1 hover:rotate-3"
               [src]="treats" alt=""
          >
          <p class="absolute bottom-50 left-50 p-4 text-white text-4xl font-semibold group-hover:text-green-700">
            Treats
          </p>
        </mat-grid-tile>
      </a>
    </mat-grid-list>
  </div>
</section>
