<section *ngIf="user$ | async as user" class="container">
  <div class="text-center">
    <p class="text-6xl" >Admin Area</p>
    <p class="text-2xl">Welcome back, {{ user.name }} </p>
    <p>What you need to do?</p>
  </div>

  <div class="flex flex-col items-center gap-8 text-center mt-12">
    <button mat-flat-button class="bg-green-700 md:w-[40vw]" (click)="openCutOffSetter()">
      <span class="inline-block py-4 text-3xl text-white">Set Next Cut Off</span>
    </button>
    <button mat-raised-button class="bg-green-700 md:w-[40vw]" (click)="openMenuHandler()">
      <span class="inline-block py-4 text-3xl text-white" >Manage Menu</span>
    </button>
    <button mat-raised-button class="bg-green-700 md:w-[40vw]" (click)="logout()">
      <span class="inline-block py-4 text-3xl text-white">Logout</span>
    </button>
  </div>
</section>
