<div *ngIf="menuOption" class="max-w-[350px] ">
  <div class="flex bg-black w-full">
    <div class="flex flex-col items-center border-r-2 p-6">
      <span class="text-white">{{menuOption.nutritionalInfo.calories}} </span>
      <span class="text-white">calories</span>
    </div>
    <div class="flex flex-col items-center border-r-2 p-6">
      <span class="text-white">{{menuOption.nutritionalInfo.protein}}g </span>
      <span class="text-white">protein</span>
    </div>
    <div class="flex flex-col items-center border-r-2 p-6">
      <span class="text-white">{{menuOption.nutritionalInfo.carbs}}g </span>
      <span class="text-white">carbs</span>
    </div>
    <div class="flex flex-col items-center p-6">
      <span class="text-white">{{menuOption.nutritionalInfo.fat}}g </span>
      <span class="text-white">fat</span>
    </div>
  </div>
  <img class="" src="{{menuOption.image}}" alt="">
  <div class="border-l-2 border-r-2 border-b-2 border-gray-200 rounded p-4">
    <h2 class="font-bold">{{ menuOption.title }}</h2>
    <p> {{ menuOption.description }}</p>
    <span class="font-bold"> {{ menuOption.price | currency }}</span>

    <div class="flex justify-around mt-4">
      <div class="flex items-center">
        <mat-form-field appearance="outline" class="max-w-[125px] h-[55px]">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" [(ngModel)]="menuOption.quantity" >
        </mat-form-field>
      </div>
      <button mat-button class="flex bg-green-700 rounded text-white items-center pl-6 pr-6"
              (click)="onAddToCart()"
              [disabled]="menuOption.quantity == undefined || menuOption.quantity <= 0"
      >
        <mat-icon>add</mat-icon>
        Add to cart
      </button>
    </div>
  </div>
</div>
