<div *ngIf="menuOption" class="max-w-[350px] h-full shadow-lg rounded ">
  <div class="flex bg-black w-full">
    <div class="flex flex-col items-center border-r-2 p-6">
      <span class="text-white">{{menuOption.nutritionalInfo.calories}} </span>
      <span class="text-white">calories</span>
    </div>
    <div class="flex flex-col items-center border-r-2 p-6">
      <span class="text-white">{{menuOption.nutritionalInfo.protein}}g </span>
      <span class="text-white">protein</span>
    </div>
    <div class="flex flex-col items-center border-r-2 p-6">
      <span class="text-white">{{menuOption.nutritionalInfo.carbs}}g </span>
      <span class="text-white">carbs</span>
    </div>
    <div class="flex flex-col items-center p-6">
      <span class="text-white">{{menuOption.nutritionalInfo.fat}}g </span>
      <span class="text-white">fat</span>
    </div>
  </div>
  <img src="{{menuOption.image}}" alt="">
  <div class="p-4">
    <h2 class="font-bold">{{ menuOption.title }}</h2>
    <p> {{ menuOption.description }}</p>
    <span class="font-bold"> {{ menuOption.price | currency }}</span>

    <div class="flex justify-around mt-4">
      <div>
      <button mat-icon-button (click)="decrementQuantity()">
        <mat-icon>remove</mat-icon>
      </button>
      <span class="bg-white">{{ menuOption.quantity }} </span>
      <button mat-icon-button (click)="incrementQuantity()">
        <mat-icon>add</mat-icon>
      </button>
      </div>
      <button mat-stroked-button class="flex text-green-700 items-center pl-6 pr-6"
              (click)="onAddToCart()"
              [disabled]="menuOption.quantity == undefined || menuOption.quantity <= 0"
      >
        <mat-icon>add</mat-icon>
        Add to cart
      </button>
    </div>
  </div>
</div>
