@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color-white {
  color: white;
}

.container {
  width: 90vw;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
