@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Asap;
  src: url('/assets/fonts/Asap-Regular.ttf') format("opentype");
}

@font-face {
  font-family: MuktaVaani;
  src: url('/assets/fonts/MuktaVaani-Regular.ttf') format("opentype");
}

html, body { height: 100%; }
body {
  margin: 0;
  //font-family: MuktaVaani, sans-serif !important;
}

.color-white {
  color: white;
}

.container {
  width: 90vw;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 60px;
}
