<section class="bg-black">
  <div class="flex max-md:flex-col max-md:items-center flex-row justify-between sm:mx-[10vw] mx-[5vw] py-6">
    <div>
      <img
        class="object-contain max-h-[137px] max-w-[150px]"
        src="./assets/logo/easy-vegan-black-and-white.png" alt="logo">
      <div class="pt-6 flex max-md:flex-col max-md:text-center flex-row">
        <a class="text-white text-2xl pr-6 max-md:px-0 max-md:py-2">ABOUT</a>
        <a class="text-white text-2xl px-6 max-md:px-0 max-md:py-2">MENU</a>
        <a class="text-white text-2xl px-6 max-md:px-0 max-md:py-2">FAQ</a>
        <a class="text-white text-2xl px-6 max-md:px-0 max-md:py-2">CONTACT US</a>
      </div>
    </div>
    <div>
      <div class="flex flex-col max-md:pt-4 max-md:gap-2">
        <div class="flex gap-2">
          <mat-icon class="color-white">phone</mat-icon>
          <p class="text-white"> 55 51 9999 99999 </p>
        </div>
        <div class="flex gap-2">
          <mat-icon class="color-white">mail</mat-icon>
          <p class="text-white">email@email.com</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="bg-black py-6">
    <p class="text-white text-center">Copyright © 2023 - Ddw Productions</p>
  </div>
</section>
