<section id="how-it-works" class="container">

  <p class="text-3xl sm:text-4xl md:text-6xl text-center pb-8">How it works</p>
  <p class="sm:text-2xl">
    Our mission is to make you life easier. We provide healthy and delicious vegan meals, you can choose from a variety
    of meals for all week and we will deliver them to you.
  </p>

  <div>
    <div class="flex flex-col sm:flex-row items-center justify-around">
      <div class="flex flex-col w-[240px] gap-4">
        <img src="./assets/icons/order-food-icon.png" alt="">
        <span class="text-2xl text-center">Order it</span>
        <p class="text-lg text-center">Choose your meals and make a order.</p>
      </div>
      <div class="flex flex-col w-[240px] gap-4">
        <img src="./assets/icons/buy-ingredients-icon.png" alt="">
        <span class="text-2xl text-center">Preparation time</span>
        <p class="text-lg text-center">Time for us to buy the best fresh ingredients and prepare your
          meals. </p>
      </div>
      <div class="flex flex-col w-[240px] gap-4">
        <img src="./assets/icons/deliver-food-icon.png" alt="">
        <span class="text-2xl text-center">Delivery</span>
        <p class="text-lg text-center">We deliver your meals wherever you want.</p>
      </div>
    </div>
  </div>

</section>
